# normal
*.user
*.suo
*.[Cc]ache
*.bak
*.log 
*.DS_Store
[Tt]est[Rr]esult*
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
node_modules
 
# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

*.7z
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
